/* Подключение шрифтов */

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
  font-display: swap;
}

/* Общие стили */

html {
  height: 100%;
}

body {
  min-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  font-weight: 400;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  background-color: #ffffff;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.user-navigation-item,
.main-navigation-item,
.promo-pagination-item,
.product-range-item,
.info-navigation-item,
.footer-item,
.footer-social-item {
  list-style: none;
}

.user-navigation-link,
.main-navigation-link,
.footer-navigation-link {
  text-decoration: none;
  color: #000000;
}

.main-navigation-link,
.footer-navigation-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.info-title,
.about-title,
.contacts-title,
.subscription-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.button {
  display: table-cell;
  vertical-align: middle;
  height: 40px;
  padding: 0 40px;
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient(180deg, transparent 40%, #FFE17F 40% 60%, transparent 60%);
  border: none;
  color: #000000;
  margin: auto 0;
  cursor: pointer;
}

/* Шапка */

.page-header {
  width: 1040px;
  margin: 0 auto;
  padding: 0 60px;
  background: linear-gradient(180deg,#ffffff 22px, #FFE17F 22px);
}

.header-logo-image {
  margin-bottom: 21px;
}

.user-navigation-container {
  display: flex;
  width: 1040px;
  margin-bottom: 41px;
}

.search {
  display: flex;
  width: 517px;
  height: 40px;
  font-size: 16px;
  line-height: 20px;
  margin-right: 54px;
}

.search-field {
  width: 310px;
  padding: 0 0 0 47px;
  font-size: 16px;
  line-height: 20px;
  border-right: none;
  border-color: #000000;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #ffe17f;
}

.search-button {
  width: 160px;
  padding: 0;
  position: relative;
  font-size: 16px;
  line-height: 20px;
  border-color: #000000;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #ffe17f;
  cursor: pointer;
}

.search-button::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../images/glass.svg);
  top: 10px;
  left: -343px;
}

.user-navigation {
  flex-grow: 1;
  align-self: center;
}

.user-navigation-list {
  display: flex;
  justify-content: start;
  margin: 0;
  padding: 0;
}

.user-navigation-item-enter {
  position: relative;
  width: 203px;
  margin-right: 26px;
}

.user-navigation-link-enter::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 12px;
  background-image: url(../images/silhouette.svg);
  top: 9px;
  left: -28px;
}

.user-navigation-item-name {
  position: relative;
  width: 148px;
}

.user-navigation-link-name::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 12px;
  background-image: url(../images/silhouette.svg);
  top: 8px;
  left: -25px;
}

.user-navigation-link-exit {
  opacity: 0.3;
  margin-right: 26px;
}

.user-navigation-item-compare {
  position: relative;
  width: 105px;
  text-align: end;
  margin-right: 36px;
}

.user-navigation-link-compare::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 12px;
  background-image: url(../images/compare.svg);
  top: 9px;
  left: 0px;
}

.user-navigation-item-basket {
  position: relative;
  width: 99px;
  text-align: end;
}

.user-navigation-link-basket::before {
  content: "";
  position: absolute;
  width: 31px;
  height: 21px;
  background-image: url(../images/basket.svg);
  top: 4px;
  left: -17px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.main-navigation-link-catalog {
  position: relative;
}

.main-navigation-link-catalog::after {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  background-image: url(../images/plus.svg);
  background-repeat: no-repeat;
  background-position: center center;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.3;
  top: -15px;
  right: -68px;
  z-index: 1;
}

.main-navigation-list {
  display: flex;
  width: 700px;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
}

.main-navigation-item:not(:last-child) {
  margin-right: 45px;
}

.main-navigation-item:nth-child(4n) {
  margin-right: 0;
}

/* Main */

.main-index {
  flex-grow: 1;
}

/* Промо-блок */

.promo {
  width: 1160px;
  display: block;
  margin: 0 auto;
  background: linear-gradient(180deg,#ffe17f 113px, #ffffff 113px);
  padding: 0;
}

.promo-block {
  display: flex;
  margin-bottom: 69px;
}

.promo-card {
  position: relative;
  margin-top: -36px;
  margin-right: 40px;
}

.promo-card::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 60px;
  background-image: url(../images/left_arrow.svg);
  top: 210px;
  left: 30px;
  cursor: pointer;
}

.promo-card::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 60px;
  background-image: url(../images/right_arrow.svg);
  top: 210px;
  right: 0px;
  cursor: pointer;
}

.promo-image {
  display: block;
  object-fit: contain;
}

.promo-description {
  margin: 0;
  margin-bottom: 50px;
}

.promo-number {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: #ffffff;
  margin: 47px 50px 0;
  text-align: end;
}

.promo-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 8px 0 30px;
}

.promo-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-bottom: 47px;
}

.promo-pagination-item-button {
  margin-right: auto;
}

.promo-pagination-item:not(:first-child) {
  margin-left: 20px;
}

.promo-pagination-button {
  display: block;
  width: 12px;
  height: 12px;
  padding: 4px;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.promo-pagination-button-current {
  background-color: #000000;
}

.promo-table {
  border-spacing: 0;
}

.promo-table-big {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
  padding-bottom: 12px;
}

.promo-table-big:not(:last-child) {
  padding-right: 20px;
}

.promo-table-small {
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.promo-table-small:not(:last-child) {
  padding-right: 20px;
}


/* Сортировка продуктов */

.product-range {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 70px;
}

.product-range-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.product-range-item {
  width: 160px;
  height: 253px;
}

.product-range-button {
  padding: 0;
  width: 20px;
  height: 60px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  cursor: pointer;
}

.product-range-span {
  position: relative;
  display: block;
  width: 160px;
  height: 60px;
  padding-top: 193px;
  text-align: left;
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.product-range-span-virtual::before,
.product-range-span-monopod::before,
.product-range-span-action::before,
.product-range-span-fitness::before,
.product-range-span-smart::before,
.product-range-span-dron::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  background-repeat: no-repeat;
  background-position: center center;
  top: 0;
  left: 0;
}

.product-range-span-virtual::before {
  background-image: url(../images/virtual.svg);
}

.product-range-span-monopod::before {
  background-image: url(../images/monopod.svg);
  background-position: center 45px;
}

.product-range-span-action::before {
  background-image: url(../images/action_camera.svg);
}

.product-range-span-fitness::before {
  background-image: url(../images/fitness.svg);
}

.product-range-span-smart::before {
  background-image: url(../images/smart_clock.svg);
}

.product-range-span-dron::before {
  background-image: url(../images/dron.svg);
}

/* Блок информации */

.info {
  background: linear-gradient(180deg,#ffffff 102px, #f0f0f0 102px);
  padding-bottom: 72px;
  margin-bottom: 70px;
}

.info-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.info-navigation-list {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 280px;
  padding: 65px 0;
  margin: 0;
  margin-right: 123px;
  list-style-type: none;
}

.info-navigation-list::after {
  position: absolute;
  content: "";
  height: 320px;
  top: 0;
  right: -7px;
  border-right: 7px solid #000000;
}

.info-navigation-item:not(:last-child) {
  margin-bottom: 35px;
}

.info-navigation-link {
  padding: 0;
  width: 160px;
}

.info-navigation-link-current {
  display: table-cell;
  vertical-align: middle;
  width: 160px;
  padding-right: 120px;
  color: #ffe17f;
  background: #000000;
}

.info-container-right {
  width: 558px;
  margin-top: 72px;
}

.delivery,
.guarantee,
.credit {
  width: 480px;
  position: relative;
}

.info-title {
  margin: 0;
  margin-bottom: 34px;
}

.info-description {
  padding: 0;
  margin: 0;
}

.delivery::after,
.guarantee::after,
.credit::after {
  content: "";
  position: absolute;
  left: 558px;
}

.delivery::after {
  top: 5px;
  width: 136px;
  height: 164px;
  background-image: url(../images/delivery.png);
}

.guarantee::after {
  top: -18px;
  width: 171px;
  height: 195px;
  background-image: url(../images/guarantee.png);
}

.credit::after {
  top: -15px;
  width: 156px;
  height: 188px;
  background-image: url(../images/credit.png);
}

.info-delivery {
  display: block;
  position: relative;
  width: 910px;
  height: 100px;
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 100px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  background-color: #f0f0f0;
  margin: 0 auto;
  margin-bottom: 70px;
  padding: 0 125px;
  cursor: pointer;
}

.info-delivery::before {
  content: "";
  width: 125px;
  height: 100px;
  position: absolute;
  background-image: url(../images/truck.svg);
  background-color: #FFE17F;
  background-repeat: no-repeat;
  background-position: center center;
  top: 0;
  left: 0;
}

.info-delivery::after {
  content: "";
  position: absolute;
  width: 125px;
  height: 100px;
  background-image: url(../images/info.svg);
  background-color: #f0f0f0;
  background-repeat: no-repeat;
  background-position: center center;
  top: 0;
  right: 0;
}

/* О нас + контакты */

.about-contacts-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.about,
.contacts {
  position: relative;
  width: 520px;
}

.about {
  margin-right: 110px;
}

.about::before,
.contacts::before {
  content: "";
  position: absolute;
  width: 84px;
  height: 7px;
  background-image: url(../images/line-black.svg);
  top: 0;
  left: 0;
}

.about-title,
.contacts-title {
  margin-top: 47px;
  margin-bottom: 48px;
}

.about-description,
.contacts-description {
  margin-bottom: 30px;
}


.about-list {
  margin: 0;
  padding-left: 36px;
  margin-bottom: 30px;
}

.about-item {
  color: #FFC700;
  background-color: #ffffff;
  margin-bottom: 12px;
}

.about-span {
  display: block;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  background-color: #ffffff;
}

.contacts-span {
  display: block;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 15px;
}

.contacts-address {
  margin: 0;
  margin-bottom: 30px;
}

.contacts-phone {
  color: #444444;
  background-color: #ffffff;
}

.contacts-work-clock {
  margin: 0;
  margin-bottom: 30px;
}

/* Подписка */

.subscription-container {
  background-color: #f0f0f0;
  padding-bottom: 57px;
}

.subscription {
  width: 1160px;
  margin: 0 auto;
}

.subscription-title-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 64px;
  margin-bottom: 141px;
}

.subscription-title {
  width: 348px;
  margin: 0;
  padding-left: 7px;
}

.subscription-discription {
  width: 553px;
  margin: 0;
}

.subscription-form {
  display: flex;
  justify-content: start;
  align-items: baseline;
  padding: 0;
  margin: 0;
}

.subscription-field {
  display: block;
  width: 390px;
  font-size: 18px;
  line-height: 30px;
  padding: 11px 150px 11px 17px;
  border: 0;
  border-bottom: 3px solid #cecece;
  background-color: #f0f0f0;
}

.subscription-button {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 15px 36px;
  border: 3px solid #cecece;
  cursor: pointer;
}

.subscription-mark {
  position: relative;
  margin-left: auto;
}

.subscription-mark::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-image: url(../images/mark.svg);
  top: 7px;
  left: -30px;
}

/* Подвал */

.page-footer {
  background-color: #444444;
  color: #ffffff;
}

.footer-container {
  width: 1160px;
  margin: 0 auto;
  padding: 61px 0;
}

.footer-logo {
  margin-bottom: 26px;
}

.footer-navigation-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 47px;
}

.footer-address {
  width: 239px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.footer-item:not(:last-child) {
  margin-right: 35px;
}

.footer-navigation-link {
  color: #ffffff;
  background-color: #444444;
}

.footer-phone {
  width: 239px;
  text-align: end;
  align-self: center;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #444444;
}

.footer-social-container {
  display: flex;
  justify-content: space-between;
}

.footer-social {
  position: relative;
  margin: 0 auto;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 930px;
  margin: 0;
  margin-left: 115px;
  justify-content: center;
  padding: 0;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.footer-social::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  top: 17px;
  background-image: url(../images/line-yellow.svg);
}

.footer-social-facebook {
  padding: 11px 15px;
}

.footer-social-instagram {
  padding: 12px;
}

.footer-social-twitter {
  padding: 13px;
}

.htmlacademy-link {
  display: table-cell;
  margin-top: 4px;
  height: 33px;
  vertical-align: middle;
}

/* Стили для каталога */

/* Внутренний заголовок */

.main-catalog {
  flex-grow: 1;
}

.inner-header {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.inner-header-title {
  margin: 0;
  padding: 35px 0 16px 60px;
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  background-color: #ffffff;
  color: #000000;
}

.breadcrumbs {
  display: flex;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 0;
  padding-left: 60px;
  margin: 0;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 16px;
  padding-right: 20px;
}

.breadcrumbs-item {
  position: relative;
  list-style: none;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #000000;
}

.breadcrumbs-link-next::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  background-image: url(../images/small_right_arrow.svg);
  opacity: 0.3;
  top: 5px;
  left: -20px;
}

/* Каталог */

.catalog-products {
  color: #000000;
  background-color: #f0f0f0;
}

.catalog-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.catalog-container-filter {
  width: 200px;
  padding: 0 60px;
}

.catalog-products-title {
  margin: 25px 0;
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.title-filter {
  padding: 0;
}

/* Фильтр */

.catalog-filter {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;
  border: none;
  margin-bottom: 35px;
}

.catalog-filter-title {
  display: block;
  padding: 12px 0 20px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  border-top: 2px solid #000000;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.control-input {
  padding: 0;
  margin: 0;
  color: #000000;
}

/* Сортировка */

.catalog-container-sort {
  background-color: #ffffff;
}

.catalog-sort-header {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 0 40px;
}

.select-control {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  width: 159px;
  list-style: none;
  background-color: #f0f0f0;
  border: none;
}

.product-container {
  width: 760px;
  padding: 70px 40px 78px;
}

.sort-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.sort-item {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.3;
}

.sort-item-up {
  background-image: url(../images/sort_up.svg);
}

.sort-item-down {
  background-image: url(../images/sort_down.svg);
}

.product-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 44px 40px;
  padding: 0;
  margin: 0;
}

.product-card {
  position: relative;
}

.product-card-image {
  display: block;
  object-fit: contain;
  margin-bottom: 32px;
}

.product-card-link {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #000000;
}

.product-card-description {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.product-card-title {
  width: 225px;
  margin: 0;
}

.product-card-price {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #444444;
}

.product-card-new {
  position: absolute;
  padding: 20px 7px;
  top: 28px;
  right: 25px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.6;
}

.pagination-show-more {
  grid-column: 1/ -1;
}

.pagination-show-more-button {
  width: 760px;
  height: 55px;
  padding: 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 3px solid #e5e5e5;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}

.pagination {
  grid-column: 1/ -1;
  display: flex;
  width: 710px;
  height: 71px;
  padding: 0 25px;
  align-items: center;
  justify-content: space-between;
  background-color: #ebebeb;

}

.pagination-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination-link {
  display: block;
  width: 40px;
  height: 40px;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #444444;
  opacity: 0.3;
}

.pagination-prev,
.pagination-next {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  opacity: 1;
}
